[submodule "fonts"]
	path = .fonts
	url = https://github.com/seletskiy/monaco-font.git
[submodule ".emacs.d/ash"]
	path = .emacs.d/ash
	url = https://github.com/s-kostyaev/ash.el.git
[submodule "unifont-powerline"]
	path = unifont-powerline
	url = https://github.com/s-kostyaev/unifont-powerline.git
[submodule ".emacs.d/go-impl"]
	path = .emacs.d/go-impl
	url = https://github.com/syohex/emacs-go-impl.git
[submodule "chromelpass"]
	path = chromelpass
	url = https://github.com/pfn/passifox.git
[submodule ".emacs.d/helm-ash"]
	path = .emacs.d/helm-ash
	url = https://github.com/s-kostyaev/helm-ash.git
