[submodule "fonts"]
	path = .fonts
	url = https://github.com/seletskiy/monaco-font.git
[submodule "unifont-powerline"]
	path = unifont-powerline
	url = https://github.com/s-kostyaev/unifont-powerline.git
[submodule "chromelpass"]
	path = chromelpass
	url = https://github.com/pfn/passifox.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/s-kostyaev/awesome_config.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/s-kostyaev/.emacs.d.git
